In [30]:
import requests
from bs4 import BeautifulSoup

In [31]:
names, ratings, metascores, votes, gross = [],[],[],[],[]
for i in range (1,301, 50):
    #int(i)
    url = f"https://www.imdb.com/search/title/?release_date=2017-01-01,2017-12-31&sort=num_votes,desc&start={i}&ef_=adv_nxt"
    print(url)
    for first in movies:
        if first.find(class_="inline-block ratings-metascore") != None:
            names.append(first.find(class_="lister-item-header").get_text().replace('\n',''))
            ratings.append(first.find(class_="inline-block ratings-imdb-rating").get_text().replace("\n",''))
            metascores.append(first.find(class_="inline-block ratings-metascore").get_text().strip("\n Metascore"))
            if len(first.find(class_="sort-num_votes-visible").get_text().replace("\n",'').split('|')) == 2:
                votes.append(first.find(class_="sort-num_votes-visible").get_text().replace("\n",'').split('|')[0].split(':')[1])
                gross.append(first.find(class_="sort-num_votes-visible").get_text().replace("\n",'').split('|')[1].split(':')[1])
            else:
                votes.append(first.find(class_="sort-num_votes-visible").get_text().replace("\n",'').split('|')[0].split(':')[1])
                gross.append(None)

https://www.imdb.com/search/title/?release_date=2017-01-01,2017-12-31&sort=num_votes,desc&start=1&ef_=adv_nxt
https://www.imdb.com/search/title/?release_date=2017-01-01,2017-12-31&sort=num_votes,desc&start=51&ef_=adv_nxt
https://www.imdb.com/search/title/?release_date=2017-01-01,2017-12-31&sort=num_votes,desc&start=101&ef_=adv_nxt
https://www.imdb.com/search/title/?release_date=2017-01-01,2017-12-31&sort=num_votes,desc&start=151&ef_=adv_nxt
https://www.imdb.com/search/title/?release_date=2017-01-01,2017-12-31&sort=num_votes,desc&start=201&ef_=adv_nxt
https://www.imdb.com/search/title/?release_date=2017-01-01,2017-12-31&sort=num_votes,desc&start=251&ef_=adv_nxt

In [32]:
len(names), len(ratings), len(metascores), len(votes), len(gross)

(192, 192, 192, 192, 192)

In [33]:
import pandas as pd

d1 = {'name':names , 'rating':ratings, 'metascoe':metascores, 'votes':votes, 'gross':gross}
df = pd.DataFrame(d1)
df

                               name rating metascoe   votes    gross
0             253.Mom and Dad(2017)    5.5       59  20,099     None
1    254.A Prayer Before Dawn(2017)    6.9       76  19,994     None
2                    255.iBoy(2017)    6.0       50  19,825     None
3        256.The Little Hours(2017)    5.8       69  19,685   $1.65M
4                259.Marshall(2017)    7.2       66  19,484  $10.05M
..                              ...    ...      ...     ...      ...
187         294.Unicorn Store(2017)    5.5       44  16,988     None
188             297.Naked(I) (2017)    5.4       36  16,922     None
189         298.The Party(I) (2017)    6.6       73  16,604   $0.75M
190   299.One Cut of the Dead(2017)    7.7       86  16,538     None
191                300.Mayhem(2017)    6.4       62  16,359     None

[192 rows x 5 columns]

In [35]:
df.to_csv("imdb_300Movies.csv", sep="|" , index=True)